[Desktop Entry]
Exec=/home/user/xrdp.sh
Icon=/home/user/4SeqGUI/src/pkg4seqgui/images/iconDNA.png
Type=Application
Terminal=false
Name=VNC
Categories=Application;


